#EDP-timeline{
    position: relative;
}

.edp-heading{
    margin: 2rem auto;
    width: 40%;
    background: linear-gradient(-135deg, #1133495e, #4687b35e);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    border: 1.5px solid #939ca07a;
    box-shadow: 0 0 10px #ffffff25;
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.5s ease;
}

.edp-heading h2{
    font-family: 'Story Script', 'Segoe UI', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: var(--white);
    text-shadow: 0 0 10px #00000055;
    letter-spacing: 0.2rem;
}

.edp-heading h2 span{
    font-family: 'Asimovian', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    margin-right: 0.1rem;
    display: inline-block;
}

.edp-heading p{
    font-family: 'Chiron GoRound TC', 'Segoe UI', Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.25;
    color: #cbc7c7;
}

#EDP-timeline ol {
    width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#EDP-timeline ol li {
    padding: 1rem;
    margin: 1.5rem auto;
    width: 70%;
    color: var(--white);
    list-style: none;
    border: #00000055 2px solid;
    position: relative;
    box-shadow: 0 0 10px #8995d255;
    min-height: 6rem;
    font-size: 1.2rem;
    font-family: 'Chiron GoRound TC', 'Segoe UI', Arial, sans-serif;
    line-height: 1.6rem;
    transition: all 0.3s ease;
}

/*increasing the observing area of the list, avoiding non-intersection problems*/
#EDP-timeline ol li::before {
  content: "";
  position: absolute;
  top: -3rem;
  bottom: -3rem;
  left: 0;
  right: 0;
  background-color: transparent;
}

#EDP-timeline ol li:hover{
    box-shadow: 0 0 15px #ffffff55;
    transform: scale(1.02) !important;
}

#EDP-timeline ol li span{
    font-size: 1.1rem;
    color: #d0cdcd;
    display: block;
    margin-top: 0.4rem;
    font-family: 'Chiron GoRound TC', 'Segoe UI', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.4rem;
}

#EDP-timeline ol li i{
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.4rem;
    color: var(--light-cyan);
    font-style: none;
    padding: auto;
    width: 12rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'knewave', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    }

#EDP-timeline ol li.right i{
    left: 0;
    border-right: 2px solid #939ca0b0;
    background: linear-gradient(135deg, #2d40b8 0%, rgb(66, 80, 169) 100%);
    text-align: center;
}

#EDP-timeline ol li.left i{
    right: 0;
    border-left: 2px solid #939ca0b0;
    background: linear-gradient(-135deg, #2d40b8 0%, rgb(66, 80, 169) 100%);
    text-align: center;
}

.right{
    border-radius: 0 10px 10px 0;
    background: linear-gradient(135deg, var(--gunmetal) 0%, var(--charcoal) 100%);
    transform: translateX(-200px);
    opacity: 0;
    margin-left: 20px;
    transition: all 0.5s ease-in 0.3s;
    left: 20px;
    padding-left: 12.5rem !important;
}


.left{
    border-radius: 10px 0 0 10px;
    background: linear-gradient(135deg, var(--gunmetal) 0%, var(--charcoal) 100%);
    transform: translateX(200px);
    transition: all 0.5s ease-in 0.3s;
    opacity: 0;
    right: 20px;
    padding-right: 12.5rem !important;
}

.timeline-middle {
    position: absolute;
    left: 50%;
    top: 14rem;
    transform: translateX(-50%);
    width: 4px;
    height: 107rem;
    border-radius: 4px;
    background: linear-gradient(135deg, #4a8b65 0%, #d8d3d3 100%);
    box-shadow: 0 0 4px #ffffff55;
}
