:root{
    /*colors*/
    --black: #050A0B;
    --eerie-black: #151C1E;
    --charcoal: #374C52;
    --gunmetal: #21363B;
    --slate-gray: #66777E;
    --indigo-dye: #1E4F6F;
    --white: #FFFFFF;
    --cadet-gray: #939CA0;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: transparent;
    color: var(--white);
    overflow-x: hidden;
}

/*radial gradient background behind sections*/
body::after{
    content: '';
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, var(--eerie-black) 20%, var(--black));
    top: 0;
    left: 0;
}
body > *{
    position: relative;
    z-index: 1;
}

/*page divdider*/
.divider {
    height: 2px;
    background: var(--cadet-gray);
    margin: 3rem auto;
    width: 10vw;
    border-radius: 100px;
    opacity: 0;
    transition: all 0.5s ease 0.2s;
}

/*cards style*/
.card {
  width: 80vw;
  margin: 6rem auto;
  padding: 4rem 3rem;
  border-radius: 50px 0 50px 0;
  background: linear-gradient(135deg, #1133495e, #4687b35e);
  position: relative;
  overflow: hidden;
  border: 1.5px solid #939ca07a;
  box-shadow: 0 0 10px #ffffff25;
  /* transition from original code */
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.5s ease 0.2s;
}

/*reveal elements animation when scrolled*/
.cards-show {
    opacity: 1 !important;
    transform: translate(0, 0) scale(1) !important;
}

/*divider animation when scrolled*/
.divider-show {
    opacity: 1 !important;
    width: 80vw !important;
}
